@use '../../sass/util' as *;

.root {
    display: flex;
    justify-content: center;
    max-width: rem(392);
    width: 100%;
    .content {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        width: 100%;
        text-align: center;
        padding: rem(40);
        background-color: var(--white-color);
        border-radius: rem(24);

        .headline {
            font-size: rem(24);
            font-weight: 700;
            margin-bottom: rem(24);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: rem(8);

            input {
                height: rem(52);
                padding: rem(14);
                border: 2px solid var(--border);
                border-radius: $br-small;
            }
        }
    }
}
