@use '../../sass/util' as *;

.root {
    display: flex;
    justify-content: space-between;
    gap: rem(30) rem(20);

    @include breakpoint-down(large) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.hero {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: rem(30);

        @include breakpoint-down(large) {
            flex-wrap: wrap;
        }
    }

    &__categories {
        &__all {
        }
    }

    &__search {
        display: flex;
        gap: rem(30);

        @include breakpoint-down(xlarge) {
            gap: rem(15);
        }

        @include breakpoint-down(medium) {
            gap: rem(30);
            flex-wrap: wrap;
        }

        &__form {
            width: rem(610);
            height: rem(50);
            border: rem(1) solid var(--border);
            position: relative;

            @include breakpoint-down(xlarge) {
                width: rem(480);
            }
            @include breakpoint-down(large) {
                width: rem(470);
            }

            form {
                display: flex;

                .hero__search__categories {
                    width: 30%;
                    font-size: rem(16);
                    color: var(--normal-color);
                    font-weight: 700;
                    padding-left: rem(18);
                    padding-top: rem(11);
                    position: relative;

                    @include breakpoint-down(medium) {
                        display: none;
                    }

                    &:after {
                        position: absolute;
                        right: 0;
                        top: rem(14);
                        height: rem(20);
                        width: rem(1);
                        background: var(--black-color);
                        opacity: 0.1;
                        content: '';
                    }

                    span {
                        position: absolute;
                        right: rem(14);
                        top: rem(14);
                    }
                }

                input {
                    width: 70%;
                    border: none;
                    height: rem(48);
                    font-size: rem(16);
                    color: var(--transparent-color);
                    padding-left: rem(16);

                    &::placeholder {
                        color: var(--transparent-color);
                    }
                }

                button {
                    position: absolute;
                    right: 0;
                    top: rem(-1);
                    height: rem(50);
                }
            }
        }

        &__phone {
            display: flex;
            gap: rem(20);

            &__icon {
                font-size: rem(18);
                color: var(--primary-color);
                height: rem(50);
                width: rem(50);
                background-color: var(--background);
                line-height: rem(50);
                text-align: center;
                border-radius: 50%;
            }

            &__text {
                overflow: hidden;

                h5 {
                    color: var(--normal-color);
                    font-weight: 700;
                    margin-bottom: rem(5);
                }

                span {
                    font-size: rem(14);
                    color: var(--para-color);
                }
            }
        }
    }
}
