@use '../../../sass/util' as *;

:global(.mobile-menu) {
    .root {
        display: grid !important;
    }
}

.root {
    display: flex;
    align-items: center;
    gap: rem(15);
    @include breakpoint-down(large) {
        display: none;
        gap: rem(30);
    }

    .item {
        position: relative;

        .link {
            background-color: var(--primary-color-tp);
            border-radius: $br-small;
            @include breakpoint(large) {
                font-size: rem(14);
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: rem(2);
                padding: rem(2) rem(16);
                @include transition(all, 0.3s);
                color: var(--primary-color);
            }
            &:hover {
                background-color: var(--primary-color);
                color: var(--white-color);
            }
        }
        :global .active {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }

    .pages {
        position: relative;

        @include breakpoint-down(large) {
            display: none !important;
        }

        &:hover {
            .dropDownDesktop {
                display: block;
            }
        }
    }
}
