@use '../../sass/util' as *;

.recent_items__wrapper {
    .recent__item {
        display: block;
        overflow: hidden;
        margin-bottom: rem(20);

        &:last-child {
            margin-bottom: 0;
        }

        &__pic {
            float: left;
            margin-right: rem(20);
        }

        &__text {
            overflow: hidden;

            h6 {
                font-weight: 700;
                color: var(--heading-color);
                line-height: 20px;
                margin-bottom: 5px;
            }

            span {
                font-size: 12px;
                color: var(--para-color);
                text-transform: uppercase;
            }
        }
    }
}
