@use '../../sass/util' as *;

.root {
    padding-top: rem(20);
    padding-bottom: rem(50);

    .headline {
        display: flex;
        align-items: flex-end;
        gap: rem(30);
        margin-bottom: rem(70);
        h2 {
            font-size: rem(46);
            font-weight: 700;
            line-height: 1;
        }
        .anotherCity {
            color: var(--primary-color);
            font-size: rem(16);
            font-weight: 600;
        }
    }

    .shopList__wrapper {
        margin-top: rem(60);
        .shopList__title {
        }
        .shopList {
            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: -2rem;
                margin-right: -2rem;
                padding: rem(20) rem(32);
                transition: $transition-bc;
                border-bottom: 1px solid var(--border);

                &:hover {
                    background-color: var(--background);

                    .addressIcon {
                        color: var(--primary-color) !important;
                    }
                }

                .item__address {
                    display: flex;
                    .addressIcon {
                        color: var(--transparent-color);
                        transition: $transition-color;
                    }
                    .item__text {
                        display: flex;
                        flex-direction: column;
                        margin-left: rem(4);

                        .shopName {
                            font-weight: 700;
                        }
                        .shopAddress {
                            line-height: rem(16);
                        }
                    }
                }

                .item__time {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: rem(14);
                        line-height: rem(22);
                        max-width: rem(160);
                        margin-left: rem(8);
                    }
                }
            }
        }
    }
}

:global {
    .map {
        height: rem(700);
        position: relative;

        iframe {
            width: 100%;
        }
    }

    .map .map-inside {
        position: absolute;
        left: 50%;
        top: rem(160);
        -webkit-transform: translateX(-175px);
        -ms-transform: translateX(-175px);
        transform: translateX(-175px);
    }

    .map .map-inside i {
        font-size: rem(48);
        color: var(--primary-color);
        position: absolute;
        bottom: rem(-75);
        left: 50%;
        -webkit-transform: translateX(-18px);
        -ms-transform: translateX(-18px);
        transform: translateX(-18px);
    }

    .map .map-inside .inside-widget {
        width: rem(350);
        background: var(--white-color);
        text-align: center;
        padding: rem(23) 0;
        position: relative;
        z-index: 1;
        -webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
        box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
    }

    .map .map-inside .inside-widget:after {
        position: absolute;
        left: 50%;
        bottom: rem(-30);
        -webkit-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px);
        border: rem(12) solid transparent;
        border-top: rem(30) solid var(--white-color);
        content: '';
        z-index: -1;
    }

    .map .map-inside .inside-widget h4 {
        font-size: rem(22);
        font-weight: 700;
        color: var(--normal-color);
        margin-bottom: rem(4);
    }

    .map .map-inside .inside-widget ul li {
        list-style: none;
        font-size: rem(16);
        color: var(--para-color);
        line-height: rem(26);
    }
}
