$br-small: 8px;
$br-medium: 10px;
$br-large: 14px;
$br-xlarge: 16px;

$transition-opacity: opacity 0.2s ease 0s, color 0.2s ease 0s;
$transition-bc: background-color 0.2s ease-in 0s;
$transition-color: color 0.2s ease-in 0s;

$hover-opacity: 0.75;
