@use '../../../sass/util' as *;

.blog__item {
    max-width: rem(350);
    text-align: left;

    &__pic {
        margin-bottom: rem(30);

        img {
            border-radius: $br-small;
        }
    }
    &__text {
        .dateAndComments {
            display: flex;
            align-items: center;
            gap: rem(15);
            margin-bottom: rem(15);

            color: var(--transparent-color);
        }

        h5 {
            margin-bottom: rem(12);
        }

        .blog__btn {
            display: inline-block;
            font-size: rem(14);
            color: var(--normal-color);
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid var(--border);
            padding: rem(14) rem(20) rem(12);
            border-radius: $br-small;

            span {
                position: relative;
                top: 1px;
                margin-left: rem(5);
            }
        }
    }
}
