@use '../../../sass/util' as *;

.root {
    padding-top: rem(80);
    padding-bottom: rem(80);

    .headline {
        margin-bottom: rem(50);
        text-align: center;
    }
    .form {
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: rem(30);
        }

        &__input {
            display: flex;
            gap: rem(30);
        }

        input {
            flex-basis: 50%;
            height: rem(50);
            font-size: rem(16);
            color: var(--para-color);
            padding-left: rem(20);
            border: 1px solid var(--border);
            border-radius: 4px;

            &::placeholder {
                color: var(--para-color);
            }
        }

        textarea {
            height: rem(150);
            font-family: inherit;
            font-size: rem(16);
            color: var(--para-color);
            padding-top: rem(10);
            padding-left: rem(20);
            border: 1px solid var(--border);
            border-radius: 4px;
            resize: none;

            &::placeholder {
                color: var(--para-color);
            }
        }

        button {
            font-size: rem(18);
            letter-spacing: 2px;
        }
    }
}
