@use '../../sass/util' as *;

.root {
    padding-top: rem(80);
    padding-bottom: rem(60);

    .couponWrapper {
        h6 {
            color: var(--para-color);
            text-align: center;
            background: var(--background);
            border-top: 1px solid var(--primary-color);
            padding: em(12) 0 em(12);
            margin-bottom: rem(75);

            span {
                font-size: rem(16);
                color: var(--primary-color);
                margin-right: rem(5);
            }

            button {
                text-decoration: underline;
                color: var(--para-color);
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: rem(30);

        form {
            display: grid;
            gap: rem(30);

            .inputWrapper {
                display: grid;
                grid-template-columns: (1fr 1fr);
                gap: rem(30);
            }

            .addressWrapper {
                display: grid;
                gap: rem(15);
            }

            .notes {
                textarea {
                    width: 100%;
                    height: rem(90);
                    resize: none;
                    padding: rem(10) rem(20);
                }
            }
        }

        .order {
            background-color: var(--background);
            height: fit-content;
            padding: rem(30) rem(40) rem(40);

            h4 {
                color: var(--normal-color);
                font-weight: 700;
                border-bottom: 1px solid var(--border-1);
                padding-bottom: rem(20);
                margin-bottom: rem(20);
            }

            &__products {
                font-size: rem(18);
                color: var(--normal-color);
                font-weight: 700;
                margin-bottom: rem(10);

                span {
                    float: right;
                }
            }

            ul {
                margin-bottom: rem(12);

                li {
                    font-size: rem(16);
                    color: var(--para-color);
                    line-height: rem(40);
                    list-style: none;

                    span {
                        font-weight: 700;
                        float: right;
                    }
                }
            }

            &__subtotal {
                font-size: rem(18);
                color: var(--normal-color);
                font-weight: 700;
                border-bottom: 1px solid var(--border-1);
                border-top: 1px solid var(--border-1);
                padding: rem(15) 0;
                margin-bottom: rem(15);

                span {
                    float: right;
                }
            }

            .input__checkbox {
                label {
                    padding-left: rem(20);
                }
            }

            &__total {
                font-size: rem(18);
                color: var(--normal-color);
                font-weight: 700;
                border-bottom: 1px solid var(--border-1);
                padding-bottom: rem(15);
                margin-bottom: rem(25);

                span {
                    float: right;
                    color: var(--discount);
                }
            }

            button {
                font-size: rem(18);
                letter-spacing: 2px;
                width: 100%;
                margin-top: rem(10);
            }
        }
    }

    .inputClassic,
    textarea {
        font-size: rem(16);
        color: var(--transparent-color);
        border: 1px solid var(--input-border);
        border-radius: 4px;

        &:focus {
            border-color: var(--primary-color);
            box-shadow: 0 0 1px var(--primary-color);
        }
    }

    .inputClassic {
        width: 100%;
        height: rem(46);
        padding-left: rem(20);

        &::placeholder {
            color: var(--transparent-color);
        }
    }

    .controller {
        &:focus {
            border-color: var(--primary-color);
            box-shadow: 0 0 1px var(--primary-color);
        }
    }

    .checkbox {
        margin-left: rem(10);
        width: rem(20);
        height: rem(20);
    }
}
