@use '../../sass/util' as *;

:global(.view-simple),
:global(.search-product-items) {
    .root {
        display: none;
    }
}

.root {
    position: absolute;
    left: 0;
    bottom: rem(-50);
    width: 100%;
    text-align: center;
    @include transition(all, 0.5s);

    @include breakpoint-down(small) {
        bottom: rem(-100);
    }

    &:hover {
        bottom: rem(20);
    }

    li {
        list-style: none;
        display: inline-block;
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            button {
                background-color: var(--primary-color);
                border-color: var(--primary-color);

                i {
                    color: var(--white-color);
                    transform: rotate(360deg);
                }
            }
        }

        &:active {
            button {
                background-color: darken(#7fad39, 20%);
            }
        }

        button {
            width: rem(40);
            height: rem(40);
            color: var(--normal-color);
            font-size: rem(16);
            line-height: rem(40);
            text-align: center;
            border: rem(1) solid var(--border);
            background: var(--white-color);
            display: block;
            border-radius: 50%;
            @include transition(all, 0.5s);

            i {
                position: relative;
                transform: rotate(0);
                @include transition(all, 0.3s);
            }
        }
    }
}
