@use '../../../sass/util' as *;

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0 rem(17) 0 rem(16);
    height: rem(40);
    z-index: 2;
    border-radius: $br-small;
    cursor: pointer;
    transition: $transition-opacity;
    &:hover {
        opacity: $hover-opacity;
    }

    @include breakpoint-down(xlarge) {
        width: rem(210);
        padding: rem(10) rem(25);
    }

    @include breakpoint-down(large) {
        width: 100%;
        padding: rem(10) rem(25);
    }
    span {
        font-size: rem(16);
        font-weight: 700;
    }

    .hover {
        background-color: gray;
    }

    .categoriesList {
        position: absolute;
        display: grid;
        gap: rem(5);
        top: rem(50);
        left: 0;
        width: 100%;
        padding: rem(10) 0 rem(12) rem(40);
        z-index: 9;
        background-color: var(--white-color);
        color: var(--normal-color);
        border: rem(1) solid var(--border);
        cursor: initial;

        li {
            line-height: rem(35);
            cursor: pointer;
        }
    }
}
