@use '../../sass/util' as *;

:global(.view-simple) {
    .root {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        width: 100%;
        gap: rem(30);

        .pic {
            width: rem(120);
            height: rem(120);
        }

        .text {
            text-align: left;
        }

        .buy {
            display: flex;
            flex-direction: column;
            gap: rem(10);

            button {
                display: block;
            }
        }
    }
}

:global(.search-product-items) {
    .root {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        gap: rem(30);

        .pic {
            width: rem(60);
            height: rem(60);
        }

        .text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .buy {
            display: flex;
            align-items: center;
            gap: rem(10);

            h5 {
                font-size: rem(14);
            }
            button {
                display: block;
                font-size: rem(12);
            }
        }
    }
}

.root {
    display: grid;
    max-width: rem(270);
    width: 100%;
    gap: rem(15);
    text-align: center;

    @include breakpoint-down(small) {
        margin: 0 auto;
        max-width: rem(140);
    }

    .top {
        position: relative;
        overflow: hidden;

        .pic {
            height: rem(270);
            position: relative;
            background-position: center center;

            @include breakpoint-down(small) {
                height: rem(140);
            }
        }
    }

    .text {
        .categoryName {
            font-size: rem(14);
            color: var(--transparent-color);
        }
        .productName {
            font-weight: 400;
            a {
                color: var(--heading-color-2);
            }
        }
    }
    .buy {
        display: flex;
        justify-content: center;
        gap: rem(10);

        line-height: 1;

        h5 {
            color: var(--heading-color-2);
            font-weight: 800;
        }

        span {
            font-size: rem(14);
            color: var(--transparent-color);
            text-decoration: line-through;
            align-self: flex-end;
        }

        button {
            display: none;
        }
    }
}
