@use '../../sass/util' as *;

:global(.view-simple) {
    .root {
        display: grid;
        grid-template-columns: 1fr 5fr;
        width: 100%;
        gap: rem(30);

        .top {
            width: rem(120);
            .like {
                top: rem(5);
                right: rem(5);
            }
            .pic {
                width: rem(120);
                height: rem(120);
            }
        }

        .text {
            text-align: left;
        }

        .buy {
            display: flex;
            flex-direction: column;
            gap: rem(10);

            button {
                display: block;
            }
        }
    }
}

:global(.search-product-items) {
    .root {
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: rem(30);

        .top {
            .pic {
                width: rem(60);
                height: rem(60);
            }
        }

        .text {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .buy {
            display: flex;
            align-items: center;
            gap: rem(10);

            h5 {
                font-size: rem(14);
            }
            button {
                display: block;
                font-size: rem(12);
            }
        }
    }
}

.root {
    display: grid;
    width: 100%;
    gap: rem(15);
    text-align: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }

    @include breakpoint-down(small) {
        margin: 0 auto;
        max-width: rem(140);
    }

    .top {
        position: relative;
        overflow: hidden;

        .like {
            position: absolute;
            top: rem(15);
            right: rem(15);
            z-index: 5;
        }

        .pic {
            height: rem(270);
            position: relative;
            background-position: center center;
            border-radius: $br-small;

            @include breakpoint-down(small) {
                height: rem(140);
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        .text {
            text-align: left;
            .categoryName {
                font-size: rem(14);
                color: var(--transparent-color);
            }
            .productName {
                font-weight: 400;
                a {
                    color: var(--heading-color-2);
                }
            }
            .priceWrapper {
                display: flex;
                align-items: flex-start;
                gap: rem(8);
                .price {
                    color: var(--heading-color-2);
                    font-weight: 800;
                }
                .oldPrice {
                    font-size: rem(14);
                    line-height: rem(14);
                    color: var(--transparent-color);
                    text-decoration: line-through;
                    align-self: flex-end;
                }
            }
        }

        button {
            height: fit-content;
        }
    }
}
