@use '../../sass/util' as *;

.root {
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(35);
        .cartBtn {
            display: flex;
            align-items: center;
            padding: rem(10) rem(20) rem(10);
            background-color: var(--background);
            color: var(--para-color);

            span {
                padding-right: rem(5);
            }
        }
    }

    .rootTitle {
        font-size: rem(46);
    }

    .tableAndCheckout {
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: rem(80);
        @include breakpoint-down(large) {
            grid-template-columns: auto;
            gap: rem(30);
        }
        .table {
            margin-bottom: rem(30);
        }

        .checkout {
            height: fit-content;
            padding: rem(32);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 18px;
            border-radius: $br-medium;

            &__top {
                margin-bottom: rem(50);
                .checkout__title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: rem(8);

                    .title__text {
                        font-weight: 700;
                        font-size: rem(20);
                    }
                }

                .checkout__address {
                    color: var(--transparent-color);
                }
            }

            ul {
                margin-bottom: rem(28);

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: rem(8);
                    margin-bottom: rem(18);

                    border-bottom: rem(1) solid var(--border);
                    list-style: none;
                    overflow: hidden;

                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                        margin-bottom: 0;
                    }

                    span {
                        font-size: rem(18);
                    }
                    .checkout__total {
                        font-weight: 700;
                        font-size: rem(30);
                    }
                }
            }

            a {
                width: 100%;
                text-align: center;
            }
        }
        .empty {
            display: flex;
            justify-content: center;
            gap: rem(80);
            padding: rem(100) 0;
            @include breakpoint-down(small) {
                flex-direction: column;
                gap: rem(30);
                padding: rem(40) 0;
                svg {
                    width: rem(100);
                    height: rem(100);
                }
            }
            &__text {
                display: flex;
                flex-direction: column;
                gap: rem(10);
                .subhead {
                    font-size: rem(18);
                    .directToShop {
                        color: var(--primary-color);
                    }
                }
                a {
                    width: fit-content;
                }
            }
        }
    }

    .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(30);
        margin-top: rem(50);

        @include breakpoint-down(large) {
            grid-template-columns: 1fr;
        }

        .continue {
            .discount {
                form {
                    display: flex;
                    input {
                        width: rem(255);
                        height: rem(46);
                        margin-right: rem(15);
                        border: rem(1) solid var(--border);
                        color: var(--transparent-color);
                        text-align: center;

                        @include breakpoint-down(xlarge) {
                            width: rem(240);
                        }

                        &::after {
                            color: var(--transparent-color);
                        }
                    }

                    button {
                        padding: rem(15) rem(30) rem(11);
                        font-size: rem(12);
                        letter-spacing: rem(4);
                        background: var(--para-color);
                    }
                }
            }
        }

        h5 {
            margin-bottom: rem(25);
            font-size: rem(20);
            font-weight: 700;
            color: var(--normal-color);
        }
    }
}
